<html><head>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="http://cdn.voximplant.com/voximplant.min.js"></script>
    <script type="text/javascript">
        var PINBRAIN_API_URL = 'http://api.pinbrain.ru';
        var pinbrainApp = angular.module('pinbrainApp', []);
        pinbrainApp.controller('callController', function ($scope, $location) {
            $scope.number = $location.$$path.replace('/number=', '');

            var call = undefined;
            $scope.showHangup = false;
            var initialized = false, loggedIn = false, connected = false, voxImplant = VoxImplant.getInstance();

            voxImplant.addEventListener(VoxImplant.Events.SDKReady, handleSDKReady);
            voxImplant.addEventListener(VoxImplant.Events.ConnectionEstablished, handleConnectionEstablished);
            voxImplant.addEventListener(VoxImplant.Events.AuthResult, handleAuthResult);

            function handleSDKReady() {
                initialized = true;
                console.log("VoxImplant SDK ready");
                // Connection with VoxImplant Cloud can be established now
                voxImplant.connect();
            }

            function handleConnectionEstablished() {
                connected = true;
                console.log("Connection established");
                voxImplant.login("pinbrain@call.pinbrain.voximplant.com", "qp9t4a");
            }

            function handleAuthResult(e) {
                console.log("AuthResult: "+e.result);
                if (e.result) {
                    // Logged in successfully
                    loggedIn = true;
                    makeCall();
                } else {
                    console.log("Authorization failed. Please specify correct username and password");
                }
            }

            function makeCall(){
                // Number isn't important - our simple VoxEngine script will just playback the audio file
                call = voxImplant.call($scope.number);
                // Add event listeners for call events
                $scope.showHangup = true;
                $scope.$apply();
                call.addEventListener(VoxImplant.CallEvents.Connected, function () {console.log("Call Connected");});
                call.addEventListener(VoxImplant.CallEvents.Failed, function (e) {
                    console.log("Call Failed. Code: "+e.code+" Reason: "+e.reason);
                    $scope.showHangup = false;
                    $scope.$apply();
                });
                call.addEventListener(VoxImplant.CallEvents.Disconnected, function () {
                    console.log("Call Disconnected");
                    $scope.showHangup = false;
                    $scope.$apply();
                });
            }

            $scope.hangUp = function(){
                console.log('try to hang up');
                call.hangup();
                $scope.showHangup = false;
                $scope.$apply();
            };

            $scope.testCall = function() {
                // Initialize SDK if not it's not initialized yet
                if (!initialized) voxImplant.init();
                else {
                    // Establish connection with VoxImplant Cloud if it's not established yet
                    if (!voxImplant.connected()) voxImplant.connect();
                    else {
                        if (!loggedIn) login(); else makeCall();
                    }
                }
            }
        });
    </script>
    <style>
        body {
            text-align: center;
            font-size: 2em;
        }
        div>a {
            text-decoration: initial;
        }
        a {
            cursor: pointer;
        }
        a.phone {
            background-color: darkorange;
            padding: 5px;
            border-radius: 5px;
            color: black;
            border: 1px solid black;
        }
        a.hangup {
            color: darkorange;
            padding: 5px;
            border-radius: 5px;
            background-color: black;
            border: 1px solid black;
        }
    </style>
    </head>
    <body ng-app="pinbrainApp" ng-controller="callController">
        <div><br>
            <a class="phone" ng-click="testCall()">{{number}}</a><br/>
            Call the number<br><br>
        </div>
        <a class="hangup" ng-click="hangUp()" ng-if="showHangup">Hang up</a><br/>
    </body>
    </html>
