table.api {
    border: 1px solid black;
    font-family: monospace;
    font-size: 18px;
}
tr.header {
    text-align: center;
    font-weight: 600;
}
tr.header>td {
    border-bottom: 1px solid black;
}
td.name {
    width: 100px;
}
td.params {
    width: 300px;
}
span.param {
    font-style: italic;
}
td.result {
    width: 200px;
}
td.description {
    padding: 10px;
}