body {
    margin: 0;
}
header {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 50px;
    box-shadow: 0px 1px 3px black;
}
div.auth {
    float: right;
    height: 100%;
    padding: 12px 10px 0 10px;
    border-left: 1px solid #848282;
    box-sizing: border-box;
    color: white;
}
div.auth input {
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    background-color: whitesmoke;
}
div.auth button {
    border-style: none;
    background-color: white;
    padding: 5px;
    width: 100px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 3px;
    box-shadow: 0 0 3px white;
    cursor: pointer;
}
#query {
    top: 50px;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding: 5px;
    font-size: 1.3em;
    border-radius: 5px;
    border-style: double;
}
#send-query {
    position: absolute;
    top: 120px;
    font-size: 1.3em;
    padding: 5px 10px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 4em;
    right: 3em;
    cursor: pointer;
}
#send-query:hover {
    background-color: black;
    color: white;
}
div.response {
    margin-top: 70px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 2px dotted black;
    padding: 10px;
    font-size: 1.3em;
    min-height: 10em;
    border-radius: 10px;
}