<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-cookies.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <title>PiNbrain</title>
</head>
<body ng-app="pinbrainApp">
    <header>
        <div class="auth" ng-controller="authController">
            <div class="buttons" ng-if="(needRegister==undefined)&&(!authorized)">
                <button class="auth-btn auth" ng-click="setRegisterRequired(false)">Sign in</button>
                <button class="auth-btn register" ng-click="setRegisterRequired(true)">Register</button>
            </div>
            <div class="inputs" ng-if="(needRegister!==undefined)&&(!authorized)">
                <label>Username: <input type="text" ng-model="username"></label>
                <label>Password: <input type="password" ng-model="password"></label>
                <button class="reg-or-log" ng-click="needRegister?register(username, password):login(username, password)">{{needRegister?'Register':'Log in'}}</button>
                <button class="register_cancel" ng-click="setRegisterRequired(undefined)">Cancel</button>
            </div>
            <div class="Username" ng-if="authorized">
                <span>{{username}}</span>
                <button class="logout" ng-click="logout()">Log out</button>
            </div>
        </div>
    </header>
</body>
</html>